{% extends 'main.html' %}
{% block main %}
    <br/>
    <div class="jumbotron jumbotron-fluid"">
    <div class="container">
        <h1 class="display-4">Лучшие матрасы</h1>
        <p class="lead">У нас вы можете приобрести лучшие матрасы в мире, никуда не идите, покупайте только у нас!</p>
    </div>
    </div>
    <div class="row g-centered row-eq-height">
        {% for matress in matress_list %}
            <div class="col-sm-6 col-lg-4 col-xl-3 mt-20">
                <div class="card">
                    <img class="card-img-top img-fluid" src="holder.js/350x150/?text=Изображение матраса" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">{{ matress.model }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">{{ matress.manufacturer }}</h6>
                        <br/>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#char{{ matress.id }}" role="tab">Характеристики</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#desc{{ matress.id }}"
                                   role="tab">Описание</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="char{{ matress.id }}" role="tabpanel">
                                <br/>
                                    <div><b>Пружинный блок:</b>&nbsp {{ matress.spring_block }} </div>
                                    <div><b>Жесткость:</b>&nbsp {{ matress.hardness }} </div>
                                    <div><b>Макс. нагрузка:</b>&nbsp {{ matress.max_load }} </div>
                                    <div><b>Размер:</b>&nbsp {{ matress.size }}</div><br/>
                                    <div><ul class="list-group"><li class="list-group-item list-group-item-success"><b>Цена:</b>&nbsp {{ matress.price }} грн
                                    </ul></div>
{#                                <ul class="list-group list-group-flush">#}
{#                                    <li class="list-group-item"><b>Пружинный блок:</b>&nbsp {{ matress.spring_block }}#}
{#                                    </li>#}
{#                                    <li class="list-group-item"><b>Жесткость:</b>&nbsp {{ matress.hardness }}</li>#}
{#                                    <li class="list-group-item"><b>Макс. нагрузка:</b>&nbsp {{ matress.max_load }} кг#}
{#                                    </li>#}
{#                                    <li class="list-group-item"><b>Размер:</b>&nbsp {{ matress.size }}</li>#}
{#                                    <li class="list-group-item"><b>Цена:</b>&nbsp {{ matress.price }} грн</li>#}
{#                                </ul>#}
                            </div>
                            <div class="tab-pane" id="desc{{ matress.id }}" role="tabpanel">
                                <p class="card-text">{{ matress.description|truncatechars:250 }}</p>
                            </div>
                            <br/>

                            <a href="#" class="btn btn-primary">Купить</a>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}